//- Definitions for grid spacing and algorithms

doctype xml
SMTK_AttributeSystem(Version="2")

  // Attribute Definitions
  Definitions
    AttDef(Type="geometry" Label="Geometry" BaseType="" Version="0")
      ItemDefinitions
        Double(Name="origin" Label="Lower Left Corner" Version="0"
        NumberOfRequiredValues="2")
          BriefDescription physical location of the lower left corner
          ComponentLabels
            Label x:
            Label y:
          DefaultValue 0.0
        Double(Name="length" Label="Physical Length" Version="0"
        NumberOfRequiredValues="2")
          BriefDescription physical size of the geometry domain
          ComponentLabels
            Label x:
            Label y:
          DefaultValue 1.0
          RangeInfo
            Min(Inclusive="false") 0.0
        Int(Name="periodic" Label="Periodic?" NumberOfRequiredValues="2")
          ComponentLabels
            Label x:
            Label y:
          DiscreteInfo(DefaultIndex="0")
            Value(Enum="No") 0
            Value(Enum="Yes") 1

    AttDef(Type="grid" Label="Grid" BaseType="" Version="0")
      ItemDefinitions
        Int(Name="base-grid-size" Label="Base Grid Size" Version="0"
        NumberOfRequiredValues="2")
          BriefDescription number of grid cells at the base/coarsest refinement level
          ComponentLabels
            Label x:
            Label y:
          DefaultValue 64
          RangeInfo
            Min(Inclusive="true") 1
        Int(Name="max-levels" Label="Maximum Levels" Version="0")
          DefaultValue 1
          RangeInfo
            Min(Inclusive="true") 1
        // Define refinement ratio as string, to indicate whether it
           is specified as a single value ("fixed") or table of values
        String(Name="refinement-ratio" Label="Refinement Ratio")
          //- Standard format for fixed/table options
          ChildrenDefinitions
            Int(Name="fixed" Label="Fixed Refinement Ratio")
              DefaultValue 2
              RangeInfo
                Min(Inclusive="true") 1
            Group(Name="table" Label="General Refinement Ratio"
              Extensible="true" NumberOfRequiredGroups="1")
              ItemDefinitions
                Int(Name="row" Label="Refinement Ratio"
                  NumberOfRequiredValues="2")
                  ComponentLabels
                    Label x:
                    Label y:
                  DefaultValue 2
                  RangeInfo
                    Min(Inclusive="true") 1
          DiscreteInfo(DefaultIndex="0")
            Structure
              Value(Enum="Fixed Value") fixed
              Items
                Item fixed
            Structure
              Value(Enum="General") table
              Items
                Item table

        // largest-patch-size follows *exact* same patten as refinement ratio
        String(Name="largest-patch-size" Label="Largest Patch Size")
          //- Standard format for fixed/table options
          ChildrenDefinitions
            Int(Name="fixed" Label="Fixed Value")
              DefaultValue 2
              RangeInfo
                Min(Inclusive="true") 1
            Group(Name="table" Label="Table"
              Extensible="true" NumberOfRequiredGroups="1")
              ItemDefinitions
                Int(Name="row" Label="Largest Patch Size"
                  NumberOfRequiredValues="2")
                  ComponentLabels
                    Label x:
                    Label y:
                  DefaultValue 2
                  RangeInfo
                    Min(Inclusive="true") 1
          DiscreteInfo(DefaultIndex="0")
            Structure
              Value(Enum="Fixed Value") fixed
              Items
                Item fixed
            Structure
              Value(Enum="General") table
              Items
                Item table

        // smallest-patch-size follows *exact* same patten as refinement ratio
        String(Name="smallest-patch-size" Label="Smallest Patch Size")
          //- Standard format for fixed/table options
          ChildrenDefinitions
            Int(Name="fixed" Label="Fixed Value")
              DefaultValue 2
              RangeInfo
                Min(Inclusive="true") 1
            Group(Name="table" Label="Table"
              Extensible="true" NumberOfRequiredGroups="1")
              ItemDefinitions
                Int(Name="row" Label="Smallest Patch Size"
                  NumberOfRequiredValues="2")
                  ComponentLabels
                    Label x:
                    Label y:
                  DefaultValue 2
                  RangeInfo
                    Min(Inclusive="true") 1
          DiscreteInfo(DefaultIndex="0")
            Structure
              Value(Enum="Fixed Value") fixed
              Items
                Item fixed
            Structure
              Value(Enum="General") table
              Items
                Item table

        // Next 4 values not currently used
        Double(Name="mfac" Label="MFAC"
          Optional="true" IsEnabledByDefault="false")
          BriefDescription
            | ratio of structural mesh width to Cartesian mesh width
          DefaultValue 2.0
          RangeInfo
            Min(Inclusive="false") 0.0
        String(Name="element-type" Label="Element Type")
          DiscreteInfo(DefaultIndex="1")
            Value TRI3
            Value TRI6
            Value QUAD4
            Value QUAD8
            Value QUAD9
        Int(Name="pk1-dev-quad-order" Label="Quadrature Rule Order for Deviatoric Stress")
          DefaultValue 5
          RangeInfo
            Min(Inclusive="true") 0
            Max(Inclusive="true") 43
        Int(Name="pk1-dil-quad-order" Label="Quadrature Rule Order for Dilational Stress")
          DefaultValue 3
          RangeInfo
            Min(Inclusive="true") 0
            Max(Inclusive="true") 43

        Double(Name="efficiency-tolerance" Label="Efficiency Tolerance")
          BriefDescription
            | min % of tag cells in new patch level
          DefaultValue 0.85
          RangeInfo
            Min(Inclusive="true") 0.0
            Max(Inclusive="true") 1.0
        Double(Name="combine-efficiency" Label="Combine Efficiency")
          BriefDescription
            | chop box is sum of volumes of smaller boxes &lt; efficiency * vol of large box
          DefaultValue 0.85
          RangeInfo
            Min(Inclusive="true") 0.0
            Max(Inclusive="true") 1.0
= "\n"
